@import url("components/avatar.css");
@import url("components/sidebar.css");
@import url("components/tabs.css");
@import url("layouts/profile_header.css");
@import url("components/words.css");
@import url("components/youtube-cards.css");
@import url("components/card.css");
@import url("components/movies.css");
@import url("components/icons.css");
@import url("layouts/grid.css");
@import url("layouts/wissen-categories.css");

body {
  background-color: rgb(240, 240, 240);
  font-family: 'Zilla Slab', serif;
  color: rgb(34, 34, 34);
  font-size: 15px;
  line-height: 25px;
}

a {
  color: rgb(0, 100, 0);
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  color: rgba(0, 100, 0, 0.7);
}

.container {
  margin-left: 30%;
  margin-right: 30%;
}

.container-wide {
  margin-left: 15%;
  margin-right: 15%;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 50px;

}

.text-center{
  text-align: center;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}
