h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color:  white;
  font-size: 20px;
  line-height: 10px;
  text-align: center;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  line-height: 10px;
  text-align: center;
  padding-bottom: 10px;
  color: #447c38;
}

.unica {
  font-family: 'Unica One', cursive;
  font-size: 30px;
}

.vollkorn {
  font-family: 'Vollkorn', serif;
  font-size: 30px;
}

.libre {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
}

.nixie {
  font-family: 'Nixie One', cursive;
  font-size: 30px;
}

.julius {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
}

.crimson {
  font-family: 'Crimson Text', serif;
  font-size: 30px;
}
